.feature-blocks-1 .feature-block-2 {
    position: relative;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    overflow: visible;
    z-index: 1;
  
  }
  
  .feature-blocks-1 .feature-block-2.bg {
    position: relative;
    background-size: cover;
    background-image: url(../images/walkingout.jpg);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
  }
  
  .feature-blocks-1 .feature-block-2 .text {
    z-index: 10;
    position: relative;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
  
    margin: 2em;
  }
  
  .feature-blocks-1 .feature-block-2:before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
  }
  
  .feature-blocks-1 .feature-block-2 p {
    color: #cccccc;
  }
  
  .feature-blocks-1 .feature-block-2:hover, .feature-blocks-1 .feature-block-2:focus, .feature-blocks-1 .feature-block-2:active {
    top: -10px;
    -webkit-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.4);
  }
  
  .feature-blocks-1 .feature-block-2:hover .text, .feature-blocks-1 .feature-block-2:focus .text, .feature-blocks-1 .feature-block-2:active .text {
    opacity: 1;
    visibility: visible;
  }
  
  .feature-blocks-1 .feature-block-2:hover.bg, .feature-blocks-1 .feature-block-2:focus.bg, .feature-blocks-1 .feature-block-2:active.bg {
    position: relative;
    background-size: cover;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
  }
  
  .feature-blocks-1 .feature-block-2:hover:before, .feature-blocks-1 .feature-block-2:focus:before, .feature-blocks-1 .feature-block-2:active:before {
    background: rgba(0, 0, 0, 0.6);
  }